<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=yes" />
  <link href="/public/loading.css" rel="stylesheet" type="text/css">
  <title>宗福</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136127766-1"></script>
  <script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.15&key=6da00aa0a73494c120a130354edb4cbb"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-136127766-1');
  </script>
  
</head>

<body>
  <div id="root"></div>
  <div id="load-progress-bar" class="ngx-progress-bar ngx-progress-bar-ltr load-progress-bar-show"></div>
  <div id="loading">
    <!-- <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
      </div>
    </div> -->
  </div>
</body>

</html>